<% layout('../layouts/master') -%>
<div class="form">
    <h2>Login</h2>
    <form class="form-head" method="POST" action="/login">
        <label class="form-label">E-mail:</label>
        <input type="email" class="form-text" name="email" autofocus placeholder="E-mail">
        <label class="form-label">Password:</label>
        <input type="password" class="form-text" name="password" placeholder="Password">
        <input type="submit" class="button" value="Ingresar ahora">
    </form>
</div>