	<!--SCRIPTS-->
	<script src="/js/dependencies/sails.io.js"></script>
	<script src="/js/app.js"></script>
	<script src="/js/angular/app.js"></script>
	<script src="/js/angular/factories.js"></script>
	<script src="/js/angular/controllers.js"></script>
	<!--SCRIPTS END-->
  </body>
</html>
