<!DOCTYPE html>
<html lang="es" ng-app="app">
  <head>
	<meta charset="utf-8">
    <title></title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    
    <!-- jQuery, from CDN. -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

    <!-- Boostrap, from CDN. -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.min.js"></script>
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <!--STYLES END-->
  </head>

  <body class="body">
	  <header class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header">
      <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 header-info">
          <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header-title">SailsTwitter</label>
          <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header-descrip">TestSails</label>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 header-items">
      		<nav class="header-nav">
      		  <ul class="header-nav-ul">
              <li class="ul-li"><a href="/" class="link1">Home</a></li>
              <li class="ul-li"><a href="#!/user" class="link1">Usuarios</a></li>
            </ul>
      		</nav>
        </div>
      </div>
	  </header>