.form
    width 35%
    padding 1em
    margin 1em auto
    text-align center
    background-color #eff5f7
    border-style groove
    &-head
        text-align center
        display flex
        justify-content center
        flex-direction column