<% layout('../layouts/master') -%>
<div class="form-container">
    <form method="POST" action="/user/edit">
        <div class="form-container-segment">
            <h2>Editar usuario</h2>
        </div>
        <input type="hidden" name="id" value="<%= user.id %>">
        
        <% include ./form-user %>

        <div class="form-container-segment">
            <input class="btn btn-default btn-form" type="submit" value="Guardar">
        </div>
    </form>
</div>