<label class="form-label">First name:</label>
<input class="form-text" type="text" name="firstName" placeholder="First name" autofocus>
<label class="form-label">Last name:</label>
<input class="form-text" type="text" name="lastName" placeholder="Last name" autofocus>
<label class="form-label">E-mail:</label>
<input class="form-text" type="email" name="email" placeholder="E-mail" autofocus>
<label class="form-label">Password</label>
<input class="form-text" type="password" name="password" placeholder="Password">