<% layout('../layouts/master') -%>
<div class="form">
	<h2>Registro</h2>
	<form class="form-head" method="POST" action="/user/create">
		<% include ./formuser %>
		<input class="button" type="submit" value="Registrarse">
	</form>
</div>