<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <form class="form-inline">
      <div class="form-group">
        <textarea class="textarea form-control" ng-model="tweet" maxlength="140" placeholder="What happened?"></textarea>
        <button class="btn btn-primary" ng-click="createTweet()">Tweet</button>
      </div>
    </form>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
    <div class="table-responsive">
      <table style="min-width: 100%" class="table table-striped">
        <thead>
          <tr>
            <th>Tweets anteriores</th>
          </tr>
        </thead>
        <tbody>
          <tr class="tweet" ng-repeat="tw in tweets">
            <td class="tweet">@{{ tw.user.username }}: {{ tw.tweet }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
