.header
    background-color #286090
    padding 0.35em 2em 0.35em 0.35em
    margin-bottom 1em
    &-info
        text-align center
        display flex
        flex-direction column
        color: #fff
    &-title
        font-size 25px
        font-weight bold
        margin 0
    &-descrip
        font-size 17px
        margin 0
    &-items
        height auto
    &-nav-ul
        margin 0
        height 59px
        display flex
        float right
        list-style none
.ul-li
    padding-right 0.75em
    padding-left 0.75em
    font-weight bold
    text-align center
    display flex
    flex-direction column
    justify-content center
    align-content center