@import "nib"
.body
    font-family 'Muli', sans-serif
    color #000
    background-color #ececec
    margin 0
    font-size: 16px
    width 100%
.container
    text-align center
@import "./header.styl"
@import "./links.styl"
@import "./forms/form.styl"
@import "./buttons.styl"
@import "./table.styl"