<div class="form-group">
    <label>Nombres:</label>
    <input class="form-control" type="text" ng-model="firstName" placeholder="Nombres" autofocus value="{{user.firstName}}">
</div>
<div class="form-group">
    <label>Apellidos:</label>
    <input class="form-control" type="text" ng-model="lastName" placeholder="Apellidos" value="{{user.lastName}}">
</div>
<div class="form-group">
    <label>Nombre de usuario:</label>
    <input class="form-control" type="text" ng-model="username" placeholder="Usuario" value="{{user.user}}">
</div>
<div class="form-group">
    <label>Correo electrónico:</label>
    <input class="form-control" type="email" ng-model="email" placeholder="E-mail" value="{{user.email}}">
</div>