<div class="form-container">
    <form method="POST" ng-submit="saveUser()">
        <div class="form-container-segment">
            <h2>Nuevo usuario</h2>
        </div>
        <div class="form-group">
            <label>Nombres:</label>
            <input class="form-control" type="text" ng-model="user.firstName" placeholder="Nombres" autofocus">
        </div>
        <div class="form-group">
            <label>Apellidos:</label>
            <input class="form-control" type="text" ng-model="user.lastName" placeholder="Apellidos">
        </div>
        <div class="form-group">
            <label>Nombre de usuario:</label>
            <input class="form-control" type="text" ng-model="user.username" placeholder="Usuario">
        </div>
        <div class="form-group">
            <label>Correo electrónico:</label>
            <input class="form-control" type="email" ng-model="user.email" placeholder="E-mail">
        </div>
        <div class="form-group">
            <label>Contraseña</label>
            <input class="form-control" type="password" ng-model="user.password" placeholder="Password">
        </div>
        <div class="form-container-segment">
            <input class="btn btn-default btn-form" type="submit" value="Guardar">
        </div>
    </form>
</div>