<% layout('../layouts/master') -%>
    
<% if(!user) { %>
    <h1>
        <span class="label label-primary">Accede ahora a TestSails</span>
    </h1>
    <h3>
        <a class="btn btn-lg btn-success" href='/user/create'>Registrarse</a>
        <a class="btn btn-lg btn-primary" href='/login'>Acceder</a>
    </h3>
<% } else { %>
    <h1>Bienvenido <%= user.firstName + ' ' + user.lastName %></h1>
<% } %>